@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat');

/* The Candle Store Website Styles */

html {
    background-color:#323232;
}

div.wrapper {
    background-color:#1C512E;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#fff;
}

a {
    color: #ACD5ED;
}

/* Embed Responsive Rules */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    clear:both;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #FFF;
    border-top: #000 solid 1px;
    text-align: center;
}

div.wrapper {
    width:80%;
    margin:auto;
}

section {
    width: 65%;
    margin: auto;
    padding: 10px;
}

section.wholepage {
    width:100%;
}

 aside {	
    width: 980px;
    margin: 50px 100px 0px 100px;
    padding: 20px;
}

div>h1 {
    font-family: 'Montserrat', sans-serif;
}

p.text {
    font-family: 'Dosis', sans-serif;
}

p.newsdate {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: right;
}

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1280px) {	
    #logo {
        background-image: url(https://via.placeholder.com/1200x300);
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        width: 1200px;
        height: 300px;
      }

    #item1 {
        background-image: url(https://via.placeholder.com/300x150);
        display: inline-block;
        margin: 0 auto;
        width: 18.750em;
        height: 9.375em;
    }

    p.idesc {
        font-family: 'Dosis', sans-serif;
        color: #FFF;
        display: inline-block;
        margin: 0 auto;
    }

    #item2 {
        background-image: url(https://via.placeholder.com/300x150);
        display: inline-block;
        position: relative;
        left: 200px;
        margin: 0 auto;
        width: 18.750em;
        height: 9.375em;
    }
    
    p.idesc2 {
        font-family: 'Dosis', sans-serif;
        color: #FFF;
        display: inline-block;
        position: relative;
        left: 285px;
        margin: 0 auto;
    }
    
    div.summary {
        display: inline-block;
        vertical-align: top;
        width: 28.125em;
        height: 15.625em;
        border: 1px solid #031520;
        background-color: #ABF2C3;
        margin-right: -4px;
        padding: 10px;
    }
    
    div.news {
        display: inline-block;
        vertical-align: top;
        width: 28.125em;
        height: 15.625em;
        border: 1px solid #031520;
        background-color: #ABF2C3;
        padding: 10px;
        overflow: scroll;
    }
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #ccc;
        		color:#000;
   	 }
}

/* PHONE */
@media all and (max-width:767px) {
    #logo {
        background-image: url(https://via.placeholder.com/375x150);
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        width: 23.438em;
        height: 9.375em;
      }

    #item1 {
        background-image: url(https://via.placeholder.com/300x150);
        display: block;
        margin-left: -17%;
        width: 18.750em;
        height: 9.375em;
    }

    p.idesc {
        font-family: 'Dosis', sans-serif;
        color: #FFF;
        display: block;
        margin: 0 auto;
    }

    div.summary {
        display: block;
        width: 18.750em;
        height: auto;
        margin-left: -11%;
        border: 1px solid #031520;
        background-color: #ABF2C3;
        padding: 10px;
        overflow: scroll;
    }

    #item2 {
        display: none;
    }

    p.idesc2 {
        display: none;
    }

    div.news {
        display: none;
    }

}
